<% @posts.each do |post| %>
  <div class="card md-12 mb-3">
    <div class="card-body">
      <h5 class="card-title"> <%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <% if !user_signed_in? || current_user.email != post.user.email %>
        <p class="card-text">author: <%= post.user.name %> |  <%= post.user.email %></p>
      <% else %>
        <p class="card-text">author: you</p>

        <a href="<%= edit_post_path(post) %>" class="btn btn-primary">Edit</a>
        <a href="<%= post_path(post) %>" class="btn btn-danger" data-method="delete">Delete</a>
      <% end %>

    </div>
  </div>
<% end %>