<% if @post %>
  <div class="alert alert-danger">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag posts_path, method: "post" do %>
  <div class="form-group">
    <%= text_field_tag(:title, nil, placeholder: "Title...", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= text_area_tag(:content, nil, placeholder: "Content...", class: "form-control", rows: 5) %>
  </div>
  <%= submit_tag "Create", class: "btn btn-success btn-block" %>
<% end %>